* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  color: #1a1a1a;
  line-height: 1.6;
}

.page-header {
  background-color: #f4f2ed;
  padding: 3rem 0;
  text-align: center;
}

.page-header h1 {
  font-size: 2rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 10px;
}

.info-box {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.info-box h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.form-box {
  background-color: #f4f2ed;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  display: flex;
  justify-content: center;
}

.form-box h3 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

form textarea {
  height: 120px;
  resize: vertical;
}

form button {
  background-color: #f1c40f;
  color: #000;
  padding: 18px;
  border: none;
  width: 100%;
  height: 15px;
  font-size: small;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  transform: scale(1.1);
}

form button:hover {
  background-color: #e1b90f;

}

/* Map section */
.map-section iframe {
  width: 100%;
  height: 400px;
  border: none;
}
